<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head") %> 
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/navigation") %> 

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum reiciendis error repellat quasi maiores. Fugit dignissimos ab asperiores, sit possimus harum maiores id reprehenderit perspiciatis, cupiditate error veritatis cumque aliquid tenetur perferendis voluptatem autem officiis. Sequi sit, delectus veniam soluta iste magnam dolores natus explicabo quas numquam debitis, eius ipsa, consequatur eum error! Non deserunt natus id officiis rerum. Sunt quidem in labore, ex voluptatum quisquam maiores quas quos necessitatibus voluptates tempore dicta similique minus tenetur? Qui alias libero perspiciatis repellat assumenda odit, est consequatur vitae dicta nemo, odio, cupiditate deserunt dolor aut amet adipisci explicabo placeat accusamus accusantium consectetur quia sapiente quas. Minima debitis dolorum autem tempore sunt obcaecati corporis, dolores facilis repudiandae labore dicta voluptas vel soluta non, fuga distinctio molestias quisquam ea enim quia quod iusto expedita perspiciatis adipisci. Ipsa, ab consectetur. Deleniti omnis sunt qui culpa eos perferendis, neque cupiditate ducimus consequuntur, commodi debitis ipsam ipsum illo veritatis dicta recusandae tenetur unde ut voluptatem? Impedit rerum facere expedita repudiandae labore odit amet voluptas in nobis commodi asperiores debitis nesciunt aperiam magni quae adipisci non excepturi eos totam consectetur sequi tenetur, earum recusandae. Minima voluptate expedita quo modi molestiae. Sed illum molestias tempore consequatur placeat deleniti reprehenderit culpa architecto dolor delectus ratione, beatae necessitatibus modi, ipsa neque sunt qui vel. Debitis officia deserunt temporibus consequatur quaerat sit omnis voluptatem cumque, distinctio consectetur voluptates impedit aliquid, magnam numquam maxime aperiam, unde veniam voluptatum cum ea? Perferendis cum velit repellat rerum dolores recusandae veritatis, error, quo quis qui sunt ad laborum quasi. Rem vero possimus labore esse fuga! Doloribus ipsum qui officiis nostrum dicta inventore dolore accusantium vel nihil harum, earum vitae quis rem minus, illum vero saepe pariatur sequi odio quo consequatur. Consequatur, ipsam? Voluptates dolorem assumenda repudiandae, eveniet illo facere nisi esse ipsam. Quae modi placeat perspiciatis.</p>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>